* {
  margin: 0;
  padding: 0;
}

body .grid-container {
  display: grid;
  grid-template-rows: 500px 550px;
  grid-template-columns: 100%;
  grid-template-areas: "sectionUno" "sectionTres";
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  body .grid-container {
    grid-template-rows: 300px 550px;
  }
}
body .grid-container header {
  background-color: #008bff;
  width: 80%;
  height: 80px;
  position: fixed;
  top: 15px;
  left: 10%;
  z-index: 3;
}
body .grid-container header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #008bff;
}
body .grid-container header nav ul {
  margin-left: 10px;
  position: relative;
  top: 9px;
}
body .grid-container header nav ul li {
  list-style: none;
  position: relative;
  right: 15px;
}
body .grid-container header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  body .grid-container header nav ul li a {
    font-size: 15px;
  }
}
body .grid-container .sectionUno {
  grid-area: sectionUno;
}
body .grid-container .sectionUno div {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #008bff;
}
body .grid-container .sectionUno div img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
body .grid-container .sectionUno div .rapido {
  color: white;
  font-size: 45px;
  position: absolute;
  top: 44%;
  left: 36%;
  font-family: "Cormorant", serif;
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  body .grid-container .sectionUno div .rapido {
    font-size: 30px;
    left: 110px;
  }
}
body .grid-container .sectionUno div .tu_prestamo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 65px;
  position: absolute;
  top: 54%;
  left: 29%;
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  body .grid-container .sectionUno div .tu_prestamo {
    font-size: 40px;
    left: 50px;
  }
}
body .grid-container .sectionUno div a {
  background-color: #008bff;
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  left: 47%;
  bottom: 125px;
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  body .grid-container .sectionUno div a {
    left: 210px;
    bottom: 75px;
  }
}
body #sectionTres {
  grid-area: sectionTres;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #sectionTres .mensaje_ip {
  color: white;
  background-color: #008bff;
  position: relative;
  bottom: 15px;
  padding: 5px 15px;
}
body #sectionTres div #formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid 2px grey;
  width: 120%;
  height: 450px;
  position: relative;
  right: 35px;
  opacity: 0.8;
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  body #sectionTres div #formulario {
    right: 25px;
  }
}
body #sectionTres div #formulario p {
  font-size: 35px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #008bff;
  position: relative;
  top: 12px;
}
body #sectionTres div #formulario .porcentaje {
  color: grey;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 18%;
}
body #sectionTres div #formulario input {
  width: 300px;
}
body #sectionTres .resultado {
  position: relative;
  top: 15px;
  right: 20px;
  color: white;
  padding: 15px;
  background-color: #008bff;
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  body #sectionTres .resultado {
    left: 2px;
  }
}
body #sectionTres button {
  border: solid 1px grey;
}

/*# sourceMappingURL=style.css.map */
